html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    background-color: #EBEBEB;
    /* width: 100%; */
    background-size: cover;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    font-family: Microsoft JhengHei;
}

.top-bar-container {
    background-color: #1C1F4C;
    width: 100%;
    height: 75px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}

.top-bar-container .top-bar-identity {
    padding-left: 10px;
    font-size: 26px;
    line-height: 75px;
    width: 100px;
    white-space: nowrap;
} 

.top-bar-container .top-bar-status {
    font-size: 40px;
    line-height: 75px;
    font-weight: bold;
}

.top-bar-container .logout-form {
    width: 100px;
    padding-right: 10px;
    height: 75px;
}

.logout-form .top-bar-function {
    height: 75px;
    display: flex;
    align-items: center;
    float: right;
}

.logout-form button {
    font-family: Microsoft JhengHei;
    font-size: 26px;
    border-radius: 30px;
    border: none;
    font-weight: bold;
    outline: none;
    /* height: 43px;
    width: 100px; */
    background-color: #EBEBEB;
    text-align: center;
    white-space: nowrap;
}

.complete-info-container{
    padding-top: 100px;
    text-align: center;
}

.complete-info-container p {
    display: block;
    font-size: 36px;
    font-weight: bold;
}

.complete-info-container .info-content {
    color: blue;
}

.complete-info-container .info-memo {
    padding-top: 36px;
}

.bottom-button-container {
    display: flex;        
    justify-content: center;
}

.bottom-button-container button {
    font-family: Microsoft JhengHei;
    font-size: 40px;
    /* width: 250px; */
    height: 82px;
    background-color: #1C1F4C;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    outline:none;        
    margin-top: 60px;
}

.bottom-button-container button:hover {
    background-color: rgba(28, 31, 76, 0.8);
}

.bottom-button-container button:active {
    background-color: rgba(28, 31, 76, 0.6);
}