html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    background-color: #EBEBEB;
    /* width: 100%; */
    background-size: cover;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    font-family: Microsoft JhengHei;
}

::placeholder {
    color: #d6d6d6;
}

.top-bar-container {
    background-color: #1C1F4C;
    width: 100%;
    height: 75px;
    color: #ffffff;
}

/* .mainframe-container {
    background-color: #EBEBEB;
    width: 100%;
    background-size: cover;
} */

.top-bar-container .top-bar-title {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    line-height: 75px;
}

.mainframe-container {
    padding-top: 80px;
    padding-bottom: 30px;
}

.language-select-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.language-select-container button{
    font-family: Microsoft JhengHei;
    font-size: 24px;
    background-color: #1C1F4C;
    color: #ffffff;
    border: none;
    border-radius: 30px;
    outline:none;
    width: 170px;
    height: 42px;
    margin: 0 10px;
}

.language-select-container button:hover {
    background-color: rgba(28, 31, 76, 0.8);
}

.language-select-container button:active {
    background-color: rgba(28, 31, 76, 0.6);
}

.input-title {
    text-align: center;
    line-height: 60px;
    padding-bottom: 10px;
    font-size: 36px;
    font-weight: bold;
}

.login-form {
    display: block;
    margin: 0 auto;
}

/* .input-group {
    display: flex;
    justify-content: center;
} */

.login-form input {
    border: 2px solid #d6d6d6;
    border-radius: 6px;
    width: 370px;
    height: 40px;
    padding: 10px 6px;
    font-family: Microsoft JhengHei;
    font-size: 30px;
    margin: 0 auto;   
    outline:none;
    /* transition: width 0.4s ease-in-out; */
    
}

.login-form input:focus {
    /* border: 2px solid #555555; */
    /* border-radius: 6px; */
    /* width: 300px; */
    background-color: rgb(255, 242, 242);
}

.login-form button {
    font-family: Microsoft JhengHei;
    font-size: 40px;
    /* width: 250px; */
    height: 82px;
    background-color: #1C1F4C;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    outline:none;        
    margin-top: 60px;
}

.login-form button:hover {
    background-color: rgba(28, 31, 76, 0.8);
}

.login-form button:active {
    background-color: rgba(28, 31, 76, 0.6);
}

.error-msg {
    padding-top: 10px;
    text-align: center;
    color: red;
    font-size: 20px;
}